{% extends 'core/block-module-pages/admin.core.twig' %}

{% block panelHeading %}
	<div class='panel-heading'>
		<h4>Create Page</h4>
	</div>
{% endblock %}

{% block panelBody %}
	<div class='panel-body'>
		Page form...
	</div>
{% endblock %}

{% block table %}
{% endblock %}